PORT=3001
DATABASE_URL=postgres://localhost:5432/auth-labs?sslmode=disable
SECRET=addYourSecret

//delete these notes. when this is renamed or copied to .env:
// notice the query parameter on the postgres URL above.  this is ONE way to handle the SSL business locally vs in production.  I will show you another in class
